*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y:auto;
   
}
body{
    position: relative;
    min-height: 100vh;
    background-color: #FFF;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-container{
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.input-field{
  max-width: 78%;
  margin:auto;
  background-image: url(/game-assets/images/input-bg.svg) !important;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.form-group{
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
}

.form-group img{
  max-width: 100%;
}
.game-name img{
  display:block;
}
.form-group input{
  width: 100%;
  padding: 0 10%;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  line-height: 3.2;
  color: #FFF;
  padding-bottom: 2%;
  font-family: 'Roboto-Bold';
  background-image: url('/game-assets/images/input-bg.svg') !important;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-input-placeholder { /* Edge */
  color: #ccc;
  font-size: 1.3rem;
  background: transparent;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
  font-size: 1.3rem;
  background: transparent;
}

::placeholder {
  color: #ccc;
  font-size: 1.3rem;
  background: transparent;
}
.invalid-feedback{
  color: red;
  position: absolute;
  bottom: -0.8rem;
  font-size: .8rem;
  font-family: 'Arial';
  padding-left: 2%;
}

/* style autocomplete */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #FFF;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  /* transition: background-color 5000s ease-in-out 0s; */
  transition-delay: 400000s;
  background-image: url(/game-assets/images/input-bg.svg) !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eddbea;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #008598;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a26d9c;
}



/* login page */

.login-page{
  background-image: url(../images/login-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form{
  max-width: 53%;
  width: 620px;
  padding: 1rem .5rem;
  margin: auto;
}
.login-form label{
  color:#FFF;
  margin-bottom: .3rem;
  font-family: 'Roboto-Bold';
  text-transform: uppercase;
  font-size: 1.1rem;
  padding-left: 2%;
}
.login-form .login-btn{
  display: block;
  max-width: 40%;
  margin: auto;
  outline: 0;
  box-shadow: none;
  border: none;
  background: none;
  cursor: pointer;
}
.login-form .login-btn img{
  max-width: 100%;
  width: 100%;
}
#login-page .game-name{
  text-align: center;
}
#login-page .game-name img{
  max-height: 35vh;
  max-width: 100%;
  margin: auto;
}

/* The container must be positioned relative: */
.custom-select {
  left: 0;
  top: 0;
  bottom: 0;
  margin:  auto;
  width: 100%;
  box-shadow: none;
  border: 0;
  outline: 0;
  background: none;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}




/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10%;
  line-height: 3.2;
}
.select-selected {
  background-color: transparent;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #ccc;
  font-size: 1.3rem;
  font-family: 'Roboto-Bold';
  background-image: url(/game-assets/images/input-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  outline: 0;
  box-shadow: none;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 0;
  right: 6%;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: -5px;
}


/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #001341;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: fit-content;
  max-height: 150px;
  overflow: hidden;
  overflow-y: auto;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 241 ,248,.3);
}





/* footer */
.footer{
    width: 100%;
}
.logo-bottom{
    padding: 1rem;
    width: 40%;
    max-width: 300px;
    margin-left: auto;
}
.logo-bottom img{
    width: 100%;
}

@media (max-width:992px){
    .login-form {
        max-width: 270px;
        width: 45%;
    }
    .game-name{
      margin-bottom: 5px;
      padding-top: 1rem;
    }
    .select-items div,
    .select-selected,
    .form-group input{
        font-size: 1rem;
        line-height: 1.2;
        padding: 5px 10%;
    }
    
    ::-webkit-input-placeholder { /* Edge */    
        font-size: 1rem;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 1rem;
    }

    ::placeholder {
        font-size: 1rem;
    }
    .logo-bottom{
        max-width: 210px;
        padding: .5rem 1rem;
    }
}

@media (max-width:768px) and (orientation:portrait){
    .login-form{
        width: 95%;
        max-width: 450px;
    }
    .select-items div, .select-selected, .form-group input {
        font-size: 1rem;
        line-height: 2;
        padding: 5px 10%;
    }
    
}